<a href="https://colab.research.google.com/github/Muntasir90629/Basic-Python/blob/master/map_function_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def even_odd(num):
  if num%2==0:
    return "the {} is even".format(num)
  else :
    return "the {} is odd".format(num)

In [ ]:
even_odd(3)

'the 3 is odd'

In [ ]:
lst=[1,2,3,4,5,6,5,6,6,45,5,6,6,6,433,33,4,44]

In [ ]:
list(map(even_odd,lst))

['the 1 is odd',
 'the 2 is even',
 'the 3 is odd',
 'the 4 is even',
 'the 5 is odd',
 'the 6 is even',
 'the 5 is odd',
 'the 6 is even',
 'the 6 is even',
 'the 45 is odd',
 'the 5 is odd',
 'the 6 is even',
 'the 6 is even',
 'the 6 is even',
 'the 433 is odd',
 'the 33 is odd',
 'the 4 is even',
 'the 44 is even']

In [ ]:
lst=[1,2,3,4,5,6,67,7,8,89,8,7,6,8]

In [ ]:
map(even_odd,lst)

In [ ]:
list(map(even_odd,lst))

['the 1 is odd',
 'the 2 is even',
 'the 3 is odd',
 'the 4 is even',
 'the 5 is odd',
 'the 6 is even',
 'the 67 is odd',
 'the 7 is odd',
 'the 8 is even',
 'the 89 is odd',
 'the 8 is even',
 'the 7 is odd',
 'the 6 is even',
 'the 8 is even']

In [ ]:
for m in lst:
  print(even_odd(m))

the 1 is odd
the 2 is even
the 3 is odd
the 4 is even
the 5 is odd
the 6 is even
the 67 is odd
the 7 is odd
the 8 is even
the 89 is odd
the 8 is even
the 7 is odd
the 6 is even
the 8 is even